<div class="footer">
    <div class="row">
        <div class="column">
            <hr>
            <p class="clearfix">
                <a href="http://eight.nl" class="right">
                    <img src="{{ site.baseurl }}/assets/img/eight-white.png" width="80">
                </a>

                <a
                    href="//twitter.com/share"
                    data-text="Stop, hammertime! Touch gestures for your webapp #touch #javascript #hammerjs"
                    class="twitter-share-button">Tweet</a>

                <iframe src="//ghbtns.com/github-btn.html?user=hammerjs&amp;repo=hammer.js&amp;type=watch&amp;count=true"
                        allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
            </p>
        </div>
    </div>
</div>

<script src="{{ site.baseurl }}/dist/hammer.js"></script>
<script src="{{ site.baseurl }}/assets/js/index.js"></script>
