<div class="header">
    <div class="row">
        <div class="medium-4 columns">
            <a class="logo" href="{{ site.baseurl }}/">Hammer.js</a>
        </div>
        <div class="medium-8 columns">
            <ul class="inline-list main-nav">
                <li><a href="{{ site.baseurl }}/getting-started/">Docs</a></li>
                <li><a href="https://stackoverflow.com/questions/tagged/hammer.js">Support</a></li>
                <li><a href="https://github.com/hammerjs/hammer.js/blob/master/CONTRIBUTING.md">Contribute</a></li>
            </ul>
        </div>
    </div>
</div>
