<div class="header">
    <div class="row">
        <div class="medium-4 columns">
            <a class="logo" href="{{ site.baseurl }}/">Hammer.js</a>
        </div>
        <div class="medium-8 columns">
            <ul class="inline-list main-nav">
                <li>
                    <a href="{{ site.baseurl }}/getting-started/">
                        <span class="show-for-small-only">Docs</span>
                        <span class="show-for-medium-up">Documentation</span>
                    </a>
                </li>
                <li><a href="http://stackoverflow.com/questions/tagged/hammer.js">StackOverflow</a></li>
                <li><a href="https://github.com/hammerjs/hammer.js">GitHub</a></li>
            </ul>
        </div>
    </div>
</div>
