<div class="header">
    <div class="row">
        <div class="medium-4 columns">
            <a class="logo" href="{{ site.baseurl }}/">Hammer.js</a>
        </div>
        <div class="medium-8 columns">
            <ul class="inline-list main-nav">
                <li><a href="{{ site.baseurl }}/getting-started/">Docs</a></li>
                <li><a href="{{ site.baseurl }}/#try-it">Try it</a></li>
                <li><a href="{{ site.baseurl }}/#support">Support</a></li>
                <li><a href="{{ site.baseurl }}/#contribute">Contribute</a></li>
                <li><a href="{{ site.baseurl }}/#team">Team</a></li>
            </ul>
        </div>
    </div>
</div>
