<a href="#" class="toggle-sidebar">Toggle navigation</a>
<div class="sidebar">
    <h4>General</h4>
    <ul class="side-nav">
        <li><a href="/getting-started">Getting Started</a></li>
        <li><a href="/tips">Tips 'n Tricks</a></li>
        <li><a href="/browser-support">Browser support</a></li>
        <li><a href="/examples">Examples</a></li>
    </ul>
    <h4>Hammer</h4>
    <ul class="side-nav">
        <li><a href="/api">API</a></li>
        <li><a href="/jsdoc">JSDoc</a></li>
        <li><a href="/touch-action">Touch-action</a></li>
        <li><a href="/recognize-with">Recognize With</a></li>
        <li><a href="/require-failure">Require Failure</a></li>
        <li><a href="/toggle-recognizer">Toggle Recognizer</a></li>
        <li><a href="/jquery-plugin">jQuery plugin</a></li>
        <li><a href="/touch-emulator">Emulate multi-touch</a></li>
    </ul>
    <h4>Recognizers</h4>
    <ul class="side-nav">
        <li><a href="/recognizer-pan">Pan</a></li>
        <li><a href="/recognizer-pinch">Pinch</a></li>
        <li><a href="/recognizer-press">Press</a></li>
        <li><a href="/recognizer-rotate">Rotate</a></li>
        <li><a href="/recognizer-swipe">Swipe</a></li>
        <li><a href="/recognizer-tap">Tap</a></li>
    </ul>
<!--
    <div class="sponsor-me">
        <p>
            Hammer.js is built by <a href="https://twitter.com/jorikdelaporik">Jorik Tangelder</a>
            in his spare time, consider a small donation if you like it!
        </p>

        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_donations">
            <input type="hidden" name="business" value="j.tangelder@gmail.com">
            <input type="hidden" name="lc" value="US">
            <input type="hidden" name="item_name" value="Hammer.js">
            <input type="hidden" name="no_note" value="0">
            <input type="hidden" name="currency_code" value="EUR">
            <input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHostedGuest">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0"
                   name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/nl_NL/i/scr/pixel.gif" width="1" height="1">
        </form>
    </div>
</div>-->
