<a href="#" class="toggle-sidebar">Toggle navigation</a>
<div class="sidebar">
    <h4>General</h4>
    <ul class="side-nav">
        <li><a href="/getting-started">Getting Started</a></li>
        <li><a href="/tips">Tips 'n Tricks</a></li>
        <li><a href="/browser-support">Browser support</a></li>
        <li><a href="/examples">Examples</a></li>
        <li><a href="/changelog">Changelog</a></li>
    </ul>
    <h4>Hammer</h4>
    <ul class="side-nav">
        <li><a href="/api">API</a></li>
        <li><a href="/jsdoc">JSDoc</a></li>
        <li><a href="/touch-action">Touch-action</a></li>
        <li><a href="/recognize-with">Recognize With</a></li>
        <li><a href="/require-failure">Require Failure</a></li>
        <li><a href="/toggle-recognizer">Toggle Recognizer</a></li>
    </ul>
    <h4>Recognizers</h4>
    <ul class="side-nav">
        <li><a href="/recognizer-pan">Pan</a></li>
        <li><a href="/recognizer-pinch">Pinch</a></li>
        <li><a href="/recognizer-press">Press</a></li>
        <li><a href="/recognizer-rotate">Rotate</a></li>
        <li><a href="/recognizer-swipe">Swipe</a></li>
        <li><a href="/recognizer-tap">Tap</a></li>
    </ul>
    <h4>Extensions</h4>
    <ul class="side-nav">
        <li><a href="/jquery-plugin">jQuery plugin</a></li>
        <li><a href="/angularjs-directive">Angular.js directive</a></li>
        <li><a href="/touch-emulator">Emulate multi-touch</a></li>
    </ul>
</div>
