doctype html
html
    head
        title Hammer.js
        meta(name="viewport", content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1")
        link(rel="stylesheet", href="assets/css/index.css")
        link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600")
    body
        .header
            .row
                .medium-6.columns
                    .logo Hammer.js 2.0
                .medium-6.columns
                    ul.inline-list
                        li: a(href="api.html") Getting Started
                        li: a(href="api.html") Documentation
                        li: a(href="jsdoc/") API
                        li: a(href="https://github.com/EightMedia/hammer.js") GitHub
        block body
            .row
                .column
                    block content

        .footer
            .row
                .column
                    hr
                    a(href="//twitter.com/share",
                        class="twitter-share-button",
                        data-text="Stop, hammertime! Touch gestures for your webapp #touch #javascript #hammerjs") Tweet
                    iframe(src="//ghbtns.com/github-btn.html?user=eightmedia&repo=hammer.js&type=watch&count=true"
                        allowtransparency="true", frameborder="0", scrolling="0", width="110", height="20")
