$red: #E63B34;
$blue: #bee2ea;
$yellow: #ffdd00;

%clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

@import "settings";
@import "normalize";
@import "foundation";
@import "highlight";

code {
  background: #f8f8f8;
  border: solid 1px #ddd;
  font-size: 13px;
  padding: 0 4px;
  border-radius: 3px;
}

blockquote {
  padding: 10px 15px;
  border: solid 1px #ddd;
  font-size: 90%;

  p { font-size: 1em; }

  :first-child { margin-top: 0; }
  :last-child { margin-bottom: 0; }
}

.highlight {
  display: block;
  overflow-x: auto;
  padding: 0.2em;
  color: #333;
  background: #f8f8f8;
  margin-bottom: $paragraph-margin-bottom;
}

pre {
  font-size: 13px;
  line-height: 18px;
  padding: 7px 10px;
  margin-bottom: 0;
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;

  code {
    padding: 0;
    background: none;
    border: none;
    font-size: inherit;
    border-radius: none;
  }
}

h2 { font-size: 1.4em; }
h3, h4, h5, h6 {
  font-size: 1.1em;
  margin-bottom: 5px;
}

h4 { color: #000; text-transform: uppercase; font-size: 1em; margin-bottom: 5px; }

.edit-this-page {
  text-align: right;
  font-size: 85%;
}

.header {
  background: $red;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 25px;
  line-height: 30px;

  .logo {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
  }

  a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
  }

  @media #{$medium-up} {
    .main-nav {
      float: right;
    }
  }
}

.toggle-sidebar {
  display: block;
  margin-bottom: 15px;
  font-weight: bold;
  color: $red !important;
}

.sidebar { display: none; }
.sidebar.show { display: block; }

@media #{$medium-up} {
  .toggle-sidebar { display: none; }
  .sidebar {
    display: block;
    border-right: solid 1px #eee;
  }
}


.sidebar {
  margin-bottom: 30px;

  h4 {
    margin: 0;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
  }

  ul.side-nav {
    margin-bottom: 15px;
    li a {
      padding: 3px 0;
    }
  }
}

.sponsor-me {
  opacity: .5;

  &:hover {
    opacity: 1;
  }

  p {
    font-size: 11px;
    line-height: 15px;
  }

  form { text-align: center; }
}

.homepage {
  background: $red;

  ::selection {
    background: none;
  }

  hr {
    opacity: 0;
  }

  .donate {
    display: none !important;
  }

  a.eight-logo {
    content: url(../img/eight-white.png);
    width: 80px;
    display: inline-block;

    img { display: none; }
  }
}

.splash {
  color: #fff;


  h1 {
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    line-height: normal;
    padding: .7em 0;
    margin-bottom: 25px;
    color: #fff;
  }

  @media #{$medium-up} {
    h1 { font-size: 3em; }
  }

  .download {
    background: $yellow;
    color: #222;
    font-size: 1.4em;
    line-height: 1;
    border-radius: 3px;
    white-space: nowrap;
  }

  @import "demo";
}


.small-text {
  font-size: 12px;
  line-height: 16px;
}
