extends inclusion/base

block content
    :markdown
        # Browser/device support
        Don't worry if your browser or OS isn't listed, it might work anyway! IE8 and older aren't supported.

        | Browser                           | Pan | Pinch | Press | Rotate | Swipe | Tap |
        |-----------------------------------|:---:|:-----:|:-----:|:------:|:-----:|:---:|
        | IE11                              | ♥ | ♥ | ♥ | ♥ | ♥ | ♥ |
        | IE10                              | ♥ | ♥ | ♥ | ♥ | ♥ | ♥ |
        | IE9                               | ♥ | ♥ | ♥ | ♥ | ♥ | ♥ |
        | Chrome                            | ♥ | ♥ | ♥ | ♥ | ♥ | ♥ |
        | Firefox                           | ♥ | ♥ | ♥ | ♥ | ♥ | ♥ |
        | Windows Phone 8                   | ♥ | ♥ | ♥ | ♥ | ♥ | ♥ |
        | Android 2.3 - default browser     | ♥ |   | ♥ |   | ♥ | ♥ |
        | Android 2.3 - FireFox             | ♥ | ♥ | ♥ | ♥ | ♥ | ♥ |
        | Android 4 - default browser       | ♥ | ♥ | ♥ | ♥ | ♥ | ♥ |
        | Android 4 - Chrome                | ♥ | ♥ | ♥ | ♥ | ♥ | ♥ |
        | Android 4 - Opera                 | ♥ | ♥ | ♥ | ♥ | ♥ | ♥ |
        | Android 4 - FireFox               | ♥ | ♥ | ♥ | ♥ | ♥ | ♥ |
        | iOS6                              | ♥ | ♥ | ♥ | ♥ | ♥ | ♥ |
        | iOS7                              | ♥ | ♥ | ♥ | ♥ | ♥ | ♥ |
        | BlackBerry 10                     | ♥ | ♥ | ♥ | ♥ | ♥ | ♥ |
