extends inclusion/base

block content
    :markdown
        # Browser/device support
        Don't worry if your browser or OS isn't listed, it might work anyway!
        Internet Explorer 8 and older aren't supported.

        | Browser                           | Pan | Pinch | Press | Rotate | Swipe | Tap | Multi-user |
        |-----------------------------------|:---:|:-----:|:-----:|:------:|:-----:|:---:|:----------:|
        | Desktop - IE11                    | ♥ |   | ♥ |   | ♥ | ♥ |   |
        | Desktop - IE10                    | ♥ |   | ♥ |   | ♥ | ♥ |   |
        | Desktop - IE9                     | ♥ |   | ♥ |   | ♥ | ♥ |   |
        | Desktop - Chrome                  | ♥ |   | ♥ |   | ♥ | ♥ |   |
        | Desktop - Firefox                 | ♥ |   | ♥ |   | ♥ | ♥ |   |
        | Desktop - Opera                   | ♥ |   | ♥ |   | ♥ | ♥ |   |
        | Hyrbid - Chromebook               | ♥ | ♥ | ♥ | ♥ | ♥ | ♥ | ♥ |
        | Hyrbid - Windows 8                | ♥ | ♥ | ♥ | ♥ | ♥ | ♥ | ♥ |
        | Hyrbid - Windows 8.1              | ♥ | ♥ | ♥ | ♥ | ♥ | ♥ | ♥ |
        | Hyrbid - Windows /w pen           | ♥ |   | ♥ |   | ♥ | ♥ | ♥ |
        | Hyrbid - Windows /w touch         | ♥ | ♥ | ♥ | ♥ | ♥ | ♥ | ♥ |
        | Hyrbid - Windows /w mouse         | ♥ |   | ♥ |   | ♥ | ♥ | ♥ |
        | Hybrid - Windows /w mixed         | ♥ | ♥ | ♥ | ♥ | ♥ | ♥ | ♥ |
        | Windows Phone 8 - IE10            | ♥ | ♥ | ♥ | ♥ | ♥ | ♥ | ♥ |
        | Android 2.3 - default browser     | ♥ |   | ♥ |   | ♥ | ♥ |   |
        | Android 2.3 - FireFox             | ♥ | ♥ | ♥ | ♥ | ♥ | ♥ | ♥ |
        | Android 4 - default browser       | ♥ | ♥ | ♥ | ♥ | ♥ | ♥ | ♥ |
        | Android 4 - Chrome                | ♥ | ♥ | ♥ | ♥ | ♥ | ♥ | ♥ |
        | Android 4 - Opera                 | ♥ | ♥ | ♥ | ♥ | ♥ | ♥ | ♥ |
        | Android 4 - FireFox               | ♥ | ♥ | ♥ | ♥ | ♥ | ♥ | ♥ |
        | Android 4 w/ bluetooth mouse      | ♥ | ♥ | ♥ | ♥ | ♥ | ♥ | ♥ |
        | iOS 6                             | ♥ | ♥ | ♥ | ♥ | ♥ | ♥ | ♥ |
        | iOS 7                             | ♥ | ♥ | ♥ | ♥ | ♥ | ♥ | ♥ |
        | BlackBerry 10                     | ♥ | ♥ | ♥ | ♥ | ♥ | ♥ | ? |
        | FireFox OS (simulator)            | ♥ | ♥ | ♥ | ♥ | ♥ | ♥ | ? |
