extends inclusion/base

block body
    .row
        .column
            .text-center
                .splash Add touch gestures to your page.

                a.button.large.success(
                        href="http://github.com/EightMedia/hammer.js/tree/master/hammer.min.js")
                    strong Hammer.min.js
                    br
                    small v#{version} &mdash; #{gzipped} gzipped

            .try
                .device
                    .device-button
                    .device-screen
                        #hitarea

    script(src="assets/js/index.js")
