extends inclusion/base
block content
    :markdown
        # Require failure of an other recognizer

        With the method `requireFailure()` you can let a recognizer require the failure of an other recognizer before recognizing.
        This could become useful when you want to nest two gestures, like pan-horizontal and pan-vertical.

        ````js
        var horizontal = new Hammer.Pan({
            event: 'panh',
            direction: Hammer.DIRECTION_HORIZONTAL
        });
        var vertical = new Hammer.Pan({
            event: 'panv',
            direction: Hammer.DIRECTION_VERTICAL
        });
        verical.requireFailure(horizontal);
        ````

        Removing the dependency could be done with the `dropRequireFailure()` method.

        ## Example
        An example can be found at the file `/tests/manual/nested.html`.
